@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 100% 19%;
    --card: 0 0% 98%;
    --card-foreground: 220 100% 19%;
    --popover: 0 0% 98%;
    --popover-foreground: 220 100% 19%;
    --primary: 16 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 220 100% 19%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 5% 96%;
    --accent-foreground: 220 100% 19%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 16 100% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 220 100% 19%;
    --sidebar-primary: 16 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 94%;
    --sidebar-accent-foreground: 220 100% 19%;
    --sidebar-border: 0 0% 90%;
    --sidebar-ring: 16 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
